"""
A template of the config variables for the mailer

TODO: copy into config.py and edit mail information
"""

MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=465
MAIL_USERNAME="your-email-username"
MAIL_PASSWORD="your-password"
MAIL_SENDTO="stewarxiv@gmail.com" #astro-stewarxiv@list.arizona.edu
