    {% set area = post.area %}
    {% if area == "astro-ph.GA" %}
    {% set area_desc = "Galaxies" %}
    {% set area_color = "#4664AE" %}
    {% elif area == "astro-ph.CO" %}
    {% set area_desc = "Cosmology" %}
    {% set area_color = "#2FC0F1" %}
    {% elif area == "astro-ph.EP" %}
    {% set area_desc = "Earth & Planetary" %}
    {% set area_color = "#F15B2B" %}
    {% elif area == "astro-ph.HE" %}
    {% set area_desc = "High Energy" %}
    {% set area_color = "#C0D730" %}
    {% elif area == "astro-ph.IM" %}
    {% set area_desc = "Instrumentation & Methods" %}
    {% set area_color = "#6CC7BB" %}
    {% elif area == "astro-ph.SR" %}
    {% set area_desc = "Solar & Stellar" %}
    {% set area_color = "#EE2E2D" %}
    {% else %}
    {% set area_desc = area %}
    {% set area_color = "#444444" %}
    {% endif %}
    <hr>
    <h1 style="font-size: {{ font_size_reg }}px;"><a href="https://arxiv.org/abs/{{ post.arxiv_id }}" style="">{{ post.title }}</a></h1>
    <h2 style="font-size: {{ font_size_reg - 4}}px; font-weight: normal;">
    <a href="https://arxiv.org/list/astro-ph.{{ area }}/recent" style="{{ button_styles }} color: white; background-color: {{ area_color }};">{{ area_desc }}</a>
        <a href="https://arxiv.org/pdf/{{ post.arxiv_id }}" style="{{ button_styles }} border-color: {{ area_color }}; color: {{ area_color }}; background: #eee;">View PDF</a>
        <a href="https://arxiv.org/html/{{ post.html_arxiv_id }}" style="{{ button_styles }} border-color: black; border-color: {{ area_color }}; color: {{ area_color }}; background: #eee;">View HTML</a>
        {% if post.ambiguous %}<span style="{{ button_styles }} border-color: #888; color: #555; background: #fff;">Ambiguous: no author match</span>{% endif %}
    </h2>
    <h2 style="font-weight: normal; font-size: {{ font_size_reg - 2}}px;">

      <!-- "collaboration" papers with super long author lists -->
      {% if post.authors|count > 20 %}
          {% for author in post.authors[:20] %}
	      {% include "author.jinja2.html" %}{% if not loop.last %},{% endif %}
	  {% endfor %}
	  et al. (with {{ post.authors[20:]|count }} other author(s)
	  {#- list only our people from the rest, comma-separated #}
	  {%- set incl_authors = post.authors[20:]|selectattr('key')|list %}
	  {%- if incl_authors %} incl.{% endif %}
	  {%- for author in incl_authors %}
	      {% include "author.jinja2.html" %}{% if not loop.last %},{% endif %}
	  {#- trim before the closing parenthesis #}
	  {%- endfor -%}
	  )
          
      <!-- everything else (regular papers) -->
      {% else %}
          {% for author in post.authors %}
              {% include "author.jinja2.html" %}{% if not loop.last %},{% endif %}
          {% endfor %}
      {% endif %}
    </h2>
    <details>
        <summary><strong>Abstract</strong></summary>
        <p style="font-size: {{ font_size_reg - 2}}px; word-wrap: break-word; margin-left: 1rem; padding-left: 1rem; border-left: 2px solid #666;">{{ post.abstract }}</p>
    </details>
